

aside{
    @include size($content-size,100%);
    position: fixed;
    top:0;
    z-index: 4;

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

    &.menu{
        left: -$content-size;
        background-color: #333;

        &.open{
            left: 0;
        }

        & button{
            left: 190px !important;
        }

        & .filiais{
            & h4{
                font-size: 18px;
                color: #ffffff;
                font-family: "Univers LT Std 45";
            }
        }

    }

    &.filters{
        right: -$content-size;
        background-color: #efefef;

        &.open{
            right: 0;
        }

        & button{
            left: 0 !important;
        }

    }

    & .title{
        @include size(190px,60px);
        display: inline-block;
        margin: 0;
        padding: 17px 0 0 20px;
        font-size: 20px;
        color: #ffffff;
        font-family: "Univers LT Std 45";
        

        &.filters{
            margin-left: 60px;
            color: $color-txt;
        }
    }
}

.show-btn{
    @include size(60px,60px);
    border: none;
    outline: none;
    position: absolute;
    background-color: $color-base;

    &.menu{left: 0;}

    &.filters{right: 0;}
}