

header{
    @include size(100%,60px);
    display: block;

    & h1{
        color: $color-base;
        font-weight: bold;
        margin: 0;

        @include media-breakpoint-up(md) {
            font-size: 38px;
            float: left;
        }
    }

    & h4{
        color: $color-base;
        font-weight: normal;
        font-size: 18px;
        position: relative;
        top: 20px;
    }
}