

.content{
    @include size(100%,100%);
    @include box-shadow(0px 0px 150px rgba(60,108,222,.3));
    @include border-radius(5px);
    
    @include media-breakpoint-up(md) {
        @include size(850px,600px);
        @include centerer;
    }
    
    & section{
        @include size(100%,auto);
        padding: 40px 20px 0;

        @include media-breakpoint-up(md) {
            width: 50%;
            float: left;
        }

        &.speedTest{

            & .speedName{
                @include setPlaceholder($color-base,1);
                margin-top: 10px;
                color: $color-base;
                border:none;
                outline: none;
                font-size: 14px;
                background-color: transparent;

                @include media-breakpoint-up(md) {
                    margin-top: 40px;
                    font-size: 18px;
                }                
            }
        }

        &.speedList{}
    }
}
