.btn {
    @include border-radius(5px);
    min-width: 110px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:white;
    font-weight:bold;
    text-transform: uppercase;
    text-decoration:none;
    
    @include media-breakpoint-up(md) {
        font-size:12px;
        padding:10px 10px;
    }

    &:hover{
        color: white;
    }

    &-newTest{
        width: 100%;
        background-color:$color-success;

        &:hover{
            background-color:darken( $color-success, 10% )
        }

        @include media-breakpoint-up(md) {
            width: auto;
        }
    }

    &-cancelTest{
        background-color:$color-danger;
        
        &:hover{
            background-color:darken( $color-danger, 10% )
        }    

        @include media-breakpoint-up(md) {
            float: right;
        }
    }
    
    &-saveTest{
        background-color:$color-secondary;

        &:hover{
            background-color:darken( $color-secondary, 10% )
        }        

        @include media-breakpoint-up(md) {
            float: right;
            margin-right: 15px
        }
    }

    &Group{

        & hr{
            border-top: 1px solid rgb(124, 153, 214);
        }
    }
    
}

