//Colors
$color-txt: #333333;

//App Colors
$color-base: #7c99d6;

$color-secondary: #6390f8;
$color-success: #88b737;
$color-danger: #843a4e;


$light-grey: #c7ccbd;
$grey: #d6d6d6;

//Font
@mixin base-text{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: $color-txt;
}

//Sidebar & Main Padding

$content-size : 250px;

body{
    color: $color-base;
    font-family: 'Montserrat', sans-serif;
    @include animate(fadein 1s);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

////////////// Z-Index

$zindex-default:        0000;
$zindex-header:         1000;
$zindex-footer:         1000;
$zindex-fab:            1010;
$zindex-kpi-img:        9;
$zindex-eficiencia:     2010;
$zindex-table-loader: 1030 !default;

//Media Queries
@include media-breakpoint-down(xs) {} //576
@include media-breakpoint-down(sm) {} //768
@include media-breakpoint-down(md) {} //992
@include media-breakpoint-down(lg) {} //1200
// No media query necessary for xl breakpoint as it has no upper bound on its width
