///////////////////////////////////////////////////////
////// Variables
///////////////////////////////////////////////////////


////////////// Paths
$imgPath: "../assets/img/";
$svgPath: "../assets/svg/";
$videoPath: "../assets/videos/";
$fontsPath: "../assets/fonts/";




